{% extends "base.html" %}
{% block title %}Item Details | Visual Alchemy{% endblock %}

{% block content %}
<section class="container py-5">
    <div class="row g-5">
        <div class="col-md-6">
            <img src="{{ url_for('static', filename='img/img2.jpg') }}" class="img-fluid rounded shadow"
                alt="Beach Engagement Shoot">
        </div>

        <div class="col-md-6">
            <h2>Wedding Shoot</h2>
            <p><strong>Photographer:</strong> John Doe</p>
            <p><strong>Location:</strong> Perth, Western Australia</p>
            <p><strong>Description:</strong> A full-day wedding shoot capturing every heartfelt moment from morning
                preparations to the final dance. Includes 50+ professionally edited images, private online gallery,
                and a printed album.</p>
            <p><strong>Price:</strong> $1200</p>

            <div class="mb-3">
                <label for="appointmentTime" class="form-label">Select Appointment Date and Time:</label>
                <input type="datetime-local" class="form-control" id="appointmentTime">
            </div>

            <div class="mb-3">
                <label for="photographer" class="form-label">Choose a Photographer</label>
                <select class="form-select" id="photographer" required>
                    <option value="">Select a photographer</option>
                    <option value="sarah">Italo melo</option>
                    <option value="michael">Libuda Stephen</option>
                    <option value="emma">Mohamed Sadiq</option>
                    <option value="alex">Nano Erdozain</option>
                    <option value="sarah">Rafan Barros</option>
                    <option value="michael">Sindre Luis</option>
                    <option value="emma">Stefan Stefancik</option>
                    <option value="alex">Suliman Sallehi</option>
                    <option value="alex">Amberssona Lawrence</option>
                </select>

            </div>
            <form method="POST" action="{{ url_for('main.add_to_cart') }}">
                <input type="hidden" name="item_name" value="Wedding Shoot">
                <input type="hidden" name="item_price" value="1400">
                <input type="hidden" name="item_duration" value="10 hours">
                <button type="submit" class="btn btn-danger flex-grow-1">Add to Booking</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}